# Data Science Tools and Ecosystem

**In this notebook, Data Science Tools and Ecosystems are Summarized**

Some of the popular languages that Data scientists are used :
- Python
- SQL
- Java
- R

Some of the commonly used liabraries used by Data Scientist include :
- Numpy
- Scipy
- pandas

| Data Science tools|
|-------------------|
|Jupyter Notebook|
|MongoDB|
|Github|

# Below are few examples of evaluating arithmatic expressions in python

### Below are few examples of evaluating arithmatic expressions in python

In [4]:
# this is a simple arithmetic expression to multiply two numbers then add integers
print((3*4)+5)

17

In [5]:
# this will convert 200 minutes to hrs by dividing by 60.
print(200/60)

3.3333333333333335

**Objectives :**
- Jupyter Notebook
- R-language
- Github

## Author
Chirayu